<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bunfei.location_project">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <activity android:name=".LaunchActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name=".MyLocationUsingHelper"
        android:label="MyLocation"
        android:screenOrientation="portrait" />
    <activity android:name=".MyLocationUsingLocationAPI"></activity>

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyDNQl0Bkt_XTXD_RGeWqJ-EXfUSyuyf5us" />

    <activity
        android:name=".MapsActivity"
        android:label="MapsActivity"
        android:parentActivityName=".MyLocationUsingHelper">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MyLocationUsingHelper" />
    </activity>
    <activity
        android:name=".NextActivity"
        android:label="NextActivity"
        android:parentActivityName=".MapsActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MapsActivity" />
    </activity>

    <activity
        android:name=".SecondActivity"
        android:label="SecondActivity"
        android:parentActivityName=".NextActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".NextActivity" />
    </activity>

    <activity
        android:name=".FinalActivity"
        android:label="FinalActivity"
        android:parentActivityName=".NextActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".NextActivity" />
    </activity>

        <activity
            android:name=".AnalysisActivity"
            android:label="AnalysisActivity">
        </activity>

    <activity
        android:name=".ThankYouActivity"
        android:label="ThankYouActivity">
    </activity>


</application>

</manifest>